.interna_contato {
  background: url("../img/bg-produtos.jpg");
  background-size: cover;
}

/*Orçamento*/

.contato {
  padding: 40px 0;
}
/*
.contato h2 {
  color: #fec63e;
}
.contato h2:after {
  background: #fec63e;
}
*/
.contato_form {
  padding-right: 60px;
}
.contato_form label {
  display: block;
}
.contato_form label {
  display: block;
  color: fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.contato_form input {
  display: block;
  width: 100%;
  border: solid 4px #fb010d;
  background: none;

  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: solid 4px #fb010d;
  background: none;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
.contato_form button {
  padding: 10px 20px;
  background: none;
}
.orcamento_dados {
  color: #fff;
}
.contato_dados h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fb010d;
  font-weight: bold;
}
.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contato_dados span:nth-of-type(even) {
  /*even seleciona todos os spans pares*/
  /*1 encontrar o primeiro span*/
  margin-bottom: 30px;
}
.contato_dados ul {
  margin-top: 10px;
}
.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}
.contato_dados ul li a {
  border: 3px solid #fb010d;
  display: block;
  padding: 10px;
}
.contato_dados ul li a:hover {
  border: 3px solid #000;
}
.contato_mapa {
  margin-bottom: 60px;
}
